/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
     margin: 0;
     padding: 0;
     border: 0;
     outline: 0;
     font-size: 100%;
     vertical-align: baseline;
     background: transparent;
     list-style: none;
  }

  h1, h4 {
    line-height: 1.1;
  }

.app-container{
  background-image: linear-gradient(#f7797d, #FBD786, #C6FFDD, rgb(10, 5, 6) 85%);
  background-repeat: no-repeat;
  width: auto;
  height: 1523px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

body {
  font-family: Circular, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.picture-logo {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 111px;
}

.auth-link {
  text-decoration: none;
  color: #D9DADC;
  font-weight: 700;
  padding: 28px 17px;
}

.title-logo {
  margin-left: 10px;
  width: 170px;
  font-weight: 700;
}

.logo {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  font-size: 20px;
  padding-top: 10px;
  color: white;
}

.logo-container {
  margin: 0;
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
}

.signup-login {
  display: flex;
  justify-content: space-between;
  margin-left: 470px;
}

.signup-login li {
  margin-right: 12px;
  padding-top: 30px;
}

.auth-link:hover {
  color: #1ED760;
}

.front-page h1 {
  font-weight: 900;
  letter-spacing: -0.04em;
  line-height: 1.15;
  margin-top: 0;
  font-size: 80px;
  color: #FFF;
}

.front-page h4 {
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #FFF;
}

.green-button {
  margin-top: 16px;
  background-color: #1DB954;
  color: #FFF;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  border-width: 0;
  letter-spacing: 2px;
  font-weight: 700px;
  cursor: pointer;
}

.front-page {
  text-align: center;
  margin: 0 auto;
  padding-top: 280px;
  padding-bottom: 250px;
}

.session-form ul {
  border: 0;
  padding: 0;
  max-width: 26.875em;
  margin: 0 auto;
}

.demo-login-container {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
}

.demo-login-button {
  margin-bottom: 14px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  background-color: #3b5998;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.demo-login-button:hover {
  background-color: #3a61b3;
}

#demoLogin-text {
  color: #1c1c1f;
  margin-bottom: 1em;
  font-size: 18px;
}

.demo-login-container strong {
  display: block;
  font-size: .875em;
  width: 28.5em;
  z-index: 1;
  position: relative;
  font-weight: 500;
  text-align: inline-block;
}

.demo-login-container strong:before {
  width:40px;
  height: 10px;
  content: "";
  background-color: #FFF;
  margin: -5px 0 0 -20px;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.demo-login-container strong:after {
  border-bottom: 1px solid #dfe0e6;
  content: '';
  position: absolute;
  top: 49%;
  width: 100%;
  z-index: -2;
  display: block;
  text-align: center;
}

.form-list {
  margin-bottom: 1em;
}

::placeholder {
  color: #808084;
}

.session-form {
  border-top: 1px solid #dfe0e6;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
}

.form-list input {
  height: 48px;
  padding: 0 .75em;
  border: 1px solid #dfe0e6;
  font-size: .9375em;
  border-radius: 2px;
  width: 100%;
  max-width: 26.875em;
}

.has-errors input {
  height: 48px;
  padding: 0 .75em;
  border: 1px solid #dfe0e6;
  font-size: .9375em;
  border-radius: 2px;
  width: 100%;
  border-color: #bd3200;
}

.form-error {
  margin-top: 10px;
  color: #bd3200;
  font-size: .9375em;
  text-align: left;
}

.session-container {
text-align: center;
}

.form-submit {
  background-color: #1DB954;
  color: #FFF;
  max-width: 320px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 120px 18px;
  cursor: pointer;
  border-width: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 25px;
}

.form-submit:hover {
  background-color: #1ED760;
}


.session-logo {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.form-logo {
  display: block;
  font-weight: 700;
  font-size: 30px;
  padding: 1.2em 0;
  margin-left: 10px;
  letter-spacing: -2px;
}

.link-session-logo {
  text-decoration: none;
  color: black;
}

.session-picture-logo {
  width: 59px;
  height: 59px;
  padding-top: 25px;

}

.divider {
  border-top: 1px solid #d9dadc;
  line-height: 1px;
  margin: 15px 0;
  position: relative;
  max-width: 28.5em;
  text-align: center;
  margin-left: 505px;
}

.signup-invite-container {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.form-invite-question {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 18px;
  font-weight: 900;
}

.sign-up-link {
  box-shadow: inset 0 0 0 2px #616467;
  background-color: transparent;
  font-size: 14px;
  border-radius: 500px;
  border-width: 0;
  text-transform: uppercase;
  font-weight: 700;
  padding: 16px 48px 18px;
  max-width: 26.875em;
  text-decoration: none;
  color: #616467;
  margin-left: 500px;
  letter-spacing: 2px;
}

.sign-up-link:hover {
  color: #fff;
  background-color: #616467;
}

.login-invite {
  font-size: .9375em;
  letter-spacing: 0.5px;
  margin-top: 4px;
}

.log-in-link {
  text-decoration: none;
  color: #1DB954;
}

.log-in-link:hover {
  color: #1ED760;
}

.link-subtle {
  color: #b3b3b3;
  text-decoration: none;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.link-subtle:hover {
  color: white;
  -webkit-transition:color 0.1s ease-in;
}

.navBar {
  background-color: rgba(0,0,0,.8);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 24px 24px 5px;
  position: fixed;
}

.navBar-header-link {
  text-decoration: none;
}

.navBar-header-logo-text {
  color: #FFF;
  padding-top: 12px;
  font-size: 20px;
}

.navBar-item {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .015em;
  padding: 3px 0;
}

.navBar-header {
  display: flex;
  padding-bottom: 15px;
}

.navBar-header img {
  width: 40px;
  height: 40px;
  margin-right: 7px;
}

.nav-text {
  margin-left: 12px;
  padding-top: 2px;
  font-weight: 700;
  font-size: 15.5px;
  cursor: pointer;
}

.active-nav-link {
  color: #1db954;
}

.browse-featured-container {
  background-image: linear-gradient(rgb(60, 79, 93), rgb(6, 8, 9) 85%);
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.browse-genres-container {
  background-image: linear-gradient(rgb(39, 37, 39), rgb(8, 7, 8) 85%);
  width: 100%;
  height: 1000px;
}

.browse-newreleases-container {
  background-image: linear-gradient(rgb(52, 45, 78), rgb(6, 6, 10) 85%);
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.collection-playlists-container {
  background-image: linear-gradient(rgb(18, 18, 18), rgb(8, 8, 8) 85%);
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.collection-favorite-songs-container {
  background-image: linear-gradient(rgb(43, 65, 110), rgb(4, 6, 11) 85%);
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.collection-albums-container {
  background-image: linear-gradient(rgb(104, 49, 56), rgb(10, 5, 6) 85%);
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.collection-artists-container {
  background-image: linear-gradient(rgb(52, 52, 52), rgb(8, 8, 8) 85%);
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.search-container {
  background-image: linear-gradient(rgb(30, 50, 100), rgb(4, 6, 12) 85%);
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.session-show-container {
  background-image: linear-gradient(rgb(18, 18, 18), rgb(8, 8, 8) 85%);
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.session-info-container {
  display: flex;
  text-decoration: none;
  color: #FFF;
}

.session-info {
  padding-top: 8px;
  padding-left: 4px;
  margin: 0;
  border-top: 1px solid #404040;
}

.session-name {
  margin-left: 10px;
  padding-top: 5px;
  font-size: 14px;
}

.logout-button {
  background-color: rgba(24,24,24,.7);
  min-width: 240px;
  padding: 7px 22px;
  color: #FFF;
  opacity: .6;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .16em;
  margin-top: 16px;
  border-radius: 500px;
  line-height: 1.6;
  border: 1px solid #dfe0e6;
  cursor: pointer;
}

.logout-button:hover {
  opacity: 1;
  transform: scale(1.06);
}


.session-show-lists {
  text-align: center;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 230px;
}

.session-show-icon {
  color: #b3b3b3;
}

.session-show-username {
  color: #FFF;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -.005em;
  margin: 24px 0;
  font-weight: 600;
}

.browse-nav-header-container {
  padding: 25px 30px;
  display: flex;
  justify-content: center;
  margin-right: 36em;
}

.active-feature-nav-header-container {
  padding: 25px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active-feature-nav-header-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  transform: translateX(70%);
}

.active-feature-nav-header-list li {
  padding: 7px 30px;
}

.create-playlist-container {
  flex-shrink: 0;
  transform: translateX(125%);
}

.create-playlist-button {
  margin-top: 0;
  padding: 7px 22px;
  background-color: #1db954;
  font-size: 11px;
  letter-spacing: .16em;
  transition: none 33ms cubic-bezier(.3,0,.7,1);
  transition-property: all;
  color: #FFF;
  line-height: 1.6;
  border: 0;
  border-radius: 500px;
  cursor: pointer;
}

.create-playlist-button:hover {
  transition: none 33ms cubic-bezier(.3,0,.7,1);
  transition-property: all;
  transform: scale(1.06);
  background-color: #1ed760;
}

.feature-nav-header-link {
  color: #b3b3b3;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: .16em;
  text-decoration: none;
}

.feature-nav-header-link:hover {
  color: #FFF;
  -webkit-transition:color 0.1s ease-in;
}

.active {
  color: white;
  /* border-bottom: 2px solid #1db954;
  padding-bottom: 5px; */
}

.active::after {
  content: "";
  display:block;
  margin: 0 auto;
  width: 30px;
  padding-top: 4px;
  border-bottom: 2px solid #1db954;
}

.browse-featured-content-container {
  padding: 0 32px;
  margin: 0 8em;
  max-width: 1480px;
}

.browse-featured-content-spacing {
  padding: 0 13em;
  max-width: 1480px;
}
.new-releases-content-spacing {
  padding: 0 9em 0 23em;
  max-width: 1480px;
}

.browse-featured-content-wrapper {
  /* width: 1175px; */
}

.browse-featured-playlist-lists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.browse-featured-playlist-lists img {
  margin: 0px 13px 0 0px;
  height: 14.4em;
  width: 14.4em;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.browse-featured-playlist {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5em;
}

.dropdown-playlists-container {
  display: flex;
  flex-direction: row;
}

.dropdown-playlist {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5em;
  padding: 1em;
}

.dropdown-playlist img {
  height: 200px;
  width: 200px;
}

.mo-info {
  margin: 12px 0 4px;
  text-align: center;
}

.cover-art-text {
  text-decoration: none;
  color: #FFF;
  letter-spacing: .015em;
  font-size: 14px;
}

.browse-featured-header {
  padding-bottom: -3px;
  margin: 20px 0;
}

.browse-featured-header-new-releases {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -.005em;
  color: #FFF;
}

.playlist-show-container {
  background-image: linear-gradient(rgb(110, 75, 43), rgb(11, 8, 4) 85%);
  width: 100%;
  height: 1000px;
}

.playlist-show-main-content {
  padding-left: 230px;
}

.playlist-content-spacing {
  padding: 0 48px;
  margin: 0 100px;
}

.content-playlist {
  padding-top: 1.6em;
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.cover-art-show {
  /* width: 25%; */
  text-align: center;
}

.track-list-header {
  margin: 0 auto 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-list-img-title {
  margin: 0 auto;
  max-width: 320px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-cover-img {
  height: 320px;
  width: 320px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.playlist-title-wrapper {
  margin: 5px 0 4px;
  text-align: center;
}

.playlist-title {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -.005em;
  font-weight: 600;
  color: rgb(244, 155, 35);
  width: 275px;
}

.spotify-small-text {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  text-transform: capitalize;
  width: 275px;
  text-align: center;
}

.track-list-header-play-button-top {
  margin-bottom: 15px;
  width: 275px;
  text-align: center;
}

.track-list-header-play-button {
  padding: 11px 48px;
  background-color: #1db954;
  margin-top: 16px;
  font-size: 11px;
  letter-spacing: .16em;
  transition: none 33ms cubic-bezier(.3,0,.7,1);
  color: #FFF;
  margin-bottom: 0;
  border: 0;
  border-radius: 500px;
  line-height: 1.6;
  transition: none 33ms cubic-bezier(.3,0,0,1);
  transition-duration: 50ms;
  transition-property: background-color;
}

.track-list-header-play-button:hover {
  background-color: #1ed760;
  transform: scale(1.06);
}

.track-list-header-body {
  text-align: center;
  width: 275px;
  font-weight: lighter;
}

.track-list-count {
  margin-bottom: .8em;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  color: #b3b3b3;
  letter-spacing: .16em;
  /* opacity: .6; */
}

.track-list-header-body-extra-buttons {
  display: flex;
  justify-content: center;
}

.track-list-header-body-heart-buttons-body {
  min-width: 52px;
  margin-top: 30px;
  transition-duration: 66ms;
  transition-property: all;
}

.track-list-header-body-three-dots-buttons-body {
  min-width: 52px;
  margin-top: 30px;
  transition-duration: 66ms;
  transition-property: all;
}


.track-list-header-body-heart-buttons-body:hover {
  transform: scale(1.06);
}

.track-list-header-body-three-dots-buttons-body:hover {
  transform: scale(1.06);
}

.track-list-header-body-dots-icon {
  height: 37px;
  width: 37px;
}


.track-list-header-body-heart-icon {
  height: 33px;
  width: 33px;
}

.playlist-song-lists {
  /* width: 75%; */
  /* padding-top: .4em; */
}

.track-list {
  margin-bottom: 1.5em;
}

.track-list-row {
  display: flex;
  padding-bottom: 1em;
  transition-timing-function: linear;
  transition-duration: .2s;
  transition-property: background-color;
}

.track-list-row:hover {
  background-color: rgba(0,0,0,.3);
}

.track-list-column {
  flex: 1;
}

.track-list-column-margin {
  margin-left: .2em;
  margin-top: .5em;
}

.track-list-name {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .015em;
  color: #FFF;
  font-weight: lighter;
}

.track-list-name-neon {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .015em;
  color: #1ed760;
  font-weight: lighter;
}

.music-note-icon-padding {
  padding-right: .35em;
  padding-top: .4em;
  padding-left: .65em;
}

.music-note-icon-center {
  text-align: right;
}

.music-note-icon {
  height: 25px;
  width: 25px;
}

.explicit-label {
  margin-right: .67em;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0;
  text-transform: uppercase;
  background-color: hsla(0,0%,100%,.6);
  color: black;
  border-radius: 2px;
  padding: 0 .4em;
  font-weight: lighter;
}

.track-list-link {
  text-decoration: none;
  color: #FFF;
  opacity: .6;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: lighter;
}

.track-list-row-dot {
  color: #FFF;
  opacity: .6;
  font-size: .8em;
  padding: 0 8px;
}

.track-list-row-body-dots-icon {
  height: 24px;
  width: 24px;
}

.track-list-more {
  padding-right: 1em;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.track-list-more:hover {

  /* background-color: yellow; */
}

.track-list-more-button {
  cursor:pointer;
}

.track-list-more-button:hover {
  transform: scale(1.06);
}

.track-list-more-margin-top {
  margin-top: .7em;
}

.track-list-duration {
  padding-right: 1em;
  text-align: center;
}

.track-list-duration-margin-top {
  margin-top: .7em;
  color: #FFF;
  opacity: .6;
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: .1em;
}

.track-list-duration-margin-top-neon {
  margin-top: .7em;
  color: #1ed760;
  opacity: .6;
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: .1em;
}

/*--------------TO BE CONTINUED-------------- */

.player-controls {
  background-color: #181818;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.play-bar-container {
  min-width: 620px;
  background-color: #282828;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: column;
  height: auto;
}

.play-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 16px;
}

.play-bar-left {
  width: 30%;
  min-width: 180px;
}

.current-song-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.current-song-album-cover img {
  height: 55px;
  width: 55px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.current-song-title {
  display: flex;
  margin: 0 14px;
  flex-direction: column;
  align-items: left;
}

.current-song-title-top-line a{
  text-decoration: none;
  color: #FFF;
  font-weight: lighter;
  line-height: 20px;
  letter-spacing: .015em;
  font-size: 12px;
  cursor: pointer;
}

.current-song-title-top-line a:hover {
  border-bottom: 1px solid #FFF;
}

.current-song-title-bottom-line a {
  text-decoration: none;
  color: #FFF;
  opacity: .6;
  font-weight: lighter;
  line-height: 20px;
  letter-spacing: .015em;
  font-size: 12px;
  cursor: pointer;
}

.current-song-title-bottom-line a:hover {
  border-bottom: 1px solid #FFF;
  opacity: 1;
}

.current-song-heart-icon img {
  height: 23px;
  width: 23px;
}

.current-song-heart-icon img:hover {
  transform: scale(1.06);
}

.current-song-heart-icon {
  padding: 10px;
}

.play-bar-center {
  width: 40%;
  max-width: 722px;
  margin-bottom: 10px;
}

.player-controls-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-controls-buttons {
  /* margin-bottom: 6px; */
  width: 224px;
  justify-content: space-between;
  flex-flow: row nowrap;
  display: flex;
  /* justify-content: center; */
}

.player-controls-play-button img{
  height: 50px;
  width: 50px;
}

.player-controls-play-button img:hover{
  transform: scale(1.06);
}

.player-controls-previous-next-button img{
  height: 16px;
  width: 16px;
}

.player-controls-shuffle-button img {
  height: 26px;
  width: 26px;
}

.player-controls-repeat-button img {
  height: 22px;
  width: 22px;
}

.player-controls-playbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.player-controls-playbar-progress-time {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .03em;
  min-width: 40px;
  text-align: center;
  color: #b3b3b3;
  font-weight: lighter;
}

.progress-bar {
  height: 12px;
  width: 100%;
  display: flex;
  align-items: center;
}

.middle-align {
  /* position: absolute; */
  top: 50%;
  /* transform: translateY(-50%); */
  background-color: #404040;
  border-radius: 2px;
  display: flex;
  height: 4px;
  width: 100%;
  align-items: center;
}

.play-bar-progress-status {
  width: 0%;
  transition-duration: 10ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(1,0,.7,1);
  background-color: #b3b3b3;
  border-radius: 2px;
  height: 4px;
}

.play-bar-progress-status-green {
  /* width: 5.2343%; */
  transition-duration: 10ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(1,0,.7,1);
  background-color: #1db954;
  border-radius: 2px;
  height: 4px;
}

.play-bar-progress-slider {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #FFF;
  transition-timing-function: cubic-bezier(1,0,.7,1);
  transition-duration: 10ms;
  transform: translateX(-50%);
}

.play-controls-playbar-duration {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .03em;
  min-width: 40px;
  text-align: center;
  color: #b3b3b3;
  font-weight: lighter;
}

.play-bar-right {
  width: 30%;
  min-width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.extra-controls {
  width: 180px;
  display: flex;
  justify-content: flex-end;
}

.queue-button {
  padding: 0 5px;
}

.queue-button img {
  height: 26px;
  width: 26px;
}

.volume-bar {
  width: 136px;
  display: flex;
  align-items: center;
}

.volume-button {
  padding: 0 5px;
}

.volume-button img {
  height: 24px;
  width: 24px;
}

.volume-progress-bar-container {
  height: 12px;
  width: 100%;

}

.volume-progress-bar-background {
  top: 50%;
  transform: translateY(60%);
  background-color: #404040;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  display: flex;
}

.volume-progress-bar {
  width: 70.434%;
  background-color: #b3b3b3;
  border-radius: 2px;
  height: 4px;
  transition-duration: .1s;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(1,0,.7,1);
}

.volume-progress-bar-green {
  width: 70.434%;
  background-color: #1db954;
  border-radius: 2px;
  height: 4px;
  transition-duration: .1s;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(1,0,.7,1);
}

.volume-bar-slider {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #FFF;
  transition-timing-function: cubic-bezier(1,0,.7,1);
  transition-duration: 10ms;
  transform: translate(-50%, -30%);
}

.album-show-root {
  min-height: 100vh;
}

.album-show-container {
  background-image: linear-gradient(rgb(91, 62, 69), rgb(9, 6, 7) 85%);
  width: 100%;
  background-size: cover;
  height: 100vh;
  overflow: auto;
}

.playlist-show-container {
  background-image: linear-gradient(rgb(104, 57, 49), rgb(10, 6, 5) 85%);
  width: 100%;
  background-size: cover;
  height: 100vh;
  overflow: auto;
}

.album-title {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -.005em;
  font-weight: 600;
  color: #FFF;
  width: 275px;
}

.playlist-form-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.9);
  z-index: 7;
}

.playlist-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.playlist-form-close-button {
  /* width: 32px; */
  background-color: rgba(0,0,0,0);
  padding: 13px;
  margin-top: 16px;
}

.playlist-form-close-button:hover {
  transform: scale(1.06);
}

.playlist-form-close-button img{
  height: 32px;
  width: 32px;

}

.playlist-form-header {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -.005em;
  font-weight: 700;
  color: #FFF;
  margin: 24px 0;
}

.input-box-container {
  width: 100%;
  padding: 0 20%;
  background-color: #282828;
}

.input-box {
  position: relative;
  background-color: #282828;
  padding: 32px 0;
}

.input-box-content-spacing {
  padding: 0 32px;
  margin: 0 auto;
  max-width: 1480px;
}

.input-box-label {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: 700;
  color: #fff;
  margin-bottom: .5em;
}

.input-box-input {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -.005em;
  font-weight: 700;
  color: #FFF;
  caret-color: #1db954;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: none;
}

.input-box-input::placeholder {
  color: #b3b3b3;
  opacity: .3;
}

.input-box-file {
  cursor: pointer;
}


.input-box-button {
  display: flex;
  justify-content: center;
  padding: 28px 0;
}

.input-box-button-item {
  padding: 0 10px;
}

.input-btn {
  font-size: 11px;
  letter-spacing: .16em;
  transition: none 33ms cubic-bezier(.3,0,.7,1);
  transition-property: all;
  margin-top: 16px;
  margin-bottom: 0;
  text-align: center;
  border: 0;
  border-radius: 500px;
  min-width: 130px;
  line-height: 1.6;
}

.input-box-button-black {
  padding: 11px 44px;
  background: rgba(24,24,24,.7);
  color: #FFF;
  box-shadow: inset 0 0 0 2px #b3b3b3;
}

.input-box-button-black:hover {
  transform: scale(1.06);
}

.input-box-button-green {
  background-color: #1db954;
  padding: 11px 44px;
  color: #FFF;
}

.input-box-button-green:hover {
  background-color: #1ed760;
  transform: scale(1.06);
}

.search {
  position: relative;
}

.search-input-box {
  right: 0;
  left: 232px;
  position: fixed;
  background-color: #282828;
  padding: 16px;
  top: 0;
  z-index: 10;
}

.search-content-spacing {
  padding: 0 32px;
  margin: 0 auto;
  max-width: 1480px;
}

.search-input-box-input {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: .005em;
  font-weight: 600;
  color: #FFF;
  caret-color: #1db954;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: none;
}

.search-input-box-input::placeholder {
  color: #b3b3b3;
  opacity: .3;
}

.searched-songs-lists {
  padding: 11em 10em 13em 23em;
}

.dropdown-menu {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  background-clip: padding-box;
  background-color: #181818;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  outline: none;
  z-index: 1000;
}

.dropdown-menu-item {
  /* position: fixed; */
  opacity: 1;
  pointer-events: auto;
  /* top: 114px; */
  /* left: 1676px; */
  width: 100%;
  padding: 3px 20px;
  clear: both;
  line-height: 32px;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  user-select: none;
  cursor: default;
  font-size: 14px;
  line-height: 20px;
  font-weight: 200;
  letter-spacing: .015em;
  color: #b3b3b3;
}

.dropdown-menu-item:hover {
  color: #FFF;
  background-color: #333;
  border-color: #333;
}
