/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   overflow: hidden;
   height: 100%;
 }

* {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0);
}


h1, h4 {
  line-height: 1.1;
}



#root {
  min-height: 100vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}


body {
  height: 100%;
  overflow: auto;
  font-family: helvetica;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;

}

section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  display: block;
}

.artist-header {
  padding-left: 230px;
  margin-left: -230px;
  position: relative;
  background-size: cover;
  background-position: 50%;
  align-items: center;
}

.navbar-group-header {
  font-size: 11px;
  line-height: 16px;
  font-weight: 200;
  color: #FFF;
  opacity: .6;
  text-transform: uppercase;
  letter-spacing: .16em;
  padding: 24px 0 7px 24px;
}

.navbar-item-small {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: 200;
  color: #FFF;
}

.recently-played-table {
  font-size: 11px;
  line-height: 16px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .16em;
  color: #FFF;
  opacity: .6;
  padding-top: 1px;
  display: block;
}

.navbar-link {
  height: unset;
  border: 0;
  width: 100%;
  padding: 5px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
  color: #b3b3b3;
}

.navbar-link:hover {
  color: #FFF;
}

.navbar-link-text {
  display: flex;
  align-items: center;
}

.navbar-link-text-inside {
  /* margin-right: 16px; */
  flex: 1;
  min-width: 0;
}

.react-contextmenu {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  background-color: #282828;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  outline: none;
  cursor: pointer;
}

.react-contextmenu-item {
  padding: 3px 20px;
  clear: both;
  line-height: 32px;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  user-select: none;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: .015em;
  font-weight: 200;
  color: #b3b3b3;
}


.react-contextmenu-item:hover {
  color: #fff;
  background-color: #333;
  border-color: #333;
  text-decoration: none;
}

.artist-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(rgba(0,0,0,0) -30%,#181818);
}

.monthly-listeners {
  font-size: 11px;
  line-height: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: .16em;
  color: #FFF;
  opacity: .6;
  padding-top: 100px;
  display: block;
  text-align: center;
  margin-bottom: 1em;
}

.large {
  font-size: 68px;
  line-height: 82px;
  letter-spacing: -.005em;
  font-weight: 600;
  color: #FFF;
  margin: 0 auto;
  max-width: 70%;
  display: block;
  text-align: center;
  position: relative;
}

.artist-cover-image {
  border-radius: 50%;
}

.header-buttons {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  padding-top: 7px;
}

.artist-show-link-nav {
  position: relative;
  width: 100%;
  padding: 20px 0;
}

.artist-show-link-list {
  text-align: center;
  list-style: none;
}

.artist-show-link {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: 200;
  color: #b3b3b3;
}

.background-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  position: fixed;
  will-change: transform;
  opacity: 1;
  /* -webkit-transition: opacity .25s; */
  transition: opacity .25s;
}

.one {
  /* background-image: linear-gradient(rgb(18, 18, 18), rgb(8, 8, 8) 85%); */
}

.two {
  /* background-image: linear-gradient(rgb(82, 71, 77), rgb(8, 7, 8) 85%); */
}

.background-opacity{
  opacity: 0;
}

.auth-link {
  text-decoration: none;
  color: #D9DADC;
  font-weight: 700;
  padding: 28px 17px;
}


.signup-login {
  display: flex;
  justify-content: space-between;
  margin-left: 470px;
}

.signup-login li {
  margin-right: 12px;
  padding-top: 30px;
}

.auth-link:hover {
  color: #1ED760;
}


.session-form ul {
  border: 0;
  padding: 0;
  max-width: 26.875em;
  margin: 0 auto;
}

.demo-login-container {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
}

.cover-container {
  position: relative;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
  width: 46%;
}

.song-queue-now-playing {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .015em;
  font-weight: 200;
  color: #FFF;
  margin: 24px 0;
}

.ellipsis-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1px;
  margin-right: -1px;
  font-weight: lighter;
}

.ellipsis-one-line a {
  color: #FFF;
  opacity: .6;
}

.ellipsis-one-line span {
  color: #FFF;
  opacity: .6;
  border-bottom-width: 1px;
}

.display-flex {
  display: flex;
}

.second-line-separator {
  color: #FFF;
  opacity: .6;
  display: inline-block;
  transform: translateY(-1px);
  font-size: .8em;
  padding: 0 8px;
}

.demo-login-button {
  margin-bottom: 14px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
  background-color: #3b5998;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.demo-login-button:hover {
  background-color: #3a61b3;
}

#demoLogin-text {
  color: #1c1c1f;
  margin-bottom: 1em;
  font-size: 18px;
}

.demo-login-container strong {
  display: block;
  font-size: .875em;
  width: 28.5em;
  z-index: 1;
  position: relative;
  font-weight: 500;
  text-align: inline-block;
}

.demo-login-container strong:before {
  width:40px;
  height: 10px;
  content: "";
  background-color: #FFF;
  margin: -5px 0 0 -20px;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: -1;
}


.demo-login-container strong:after {
  border-bottom: 1px solid #dfe0e6;
  content: '';
  position: absolute;
  top: 49%;
  width: 100%;
  z-index: -2;
  display: block;
  text-align: center;
}


.form-list {
  margin-bottom: 1em;
}

::placeholder {
  color: #808084;
}

.session-form {
  border-top: 1px solid #dfe0e6;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
}

.form-list input {
  height: 48px;
  padding: 0 .75em;
  border: 1px solid #dfe0e6;
  font-size: .9375em;
  border-radius: 2px;
  width: 100%;
  max-width: 26.875em;
}

.has-errors input {
  height: 48px;
  padding: 0 .75em;
  border: 1px solid #dfe0e6;
  font-size: .9375em;
  border-radius: 2px;
  width: 100%;
  border-color: #bd3200;
}

.form-error {
  margin-top: 10px;
  color: #bd3200;
  font-size: .9375em;
  text-align: left;
}

.session-container {
text-align: center;
}

.form-submit {
  background-color: #1DB954;
  color: #FFF;
  max-width: 320px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 120px 18px;
  cursor: pointer;
  border-width: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 25px;
}

.form-submit:hover {
  background-color: #1ED760;
}


.session-logo {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.recently-played-active {
  color: #1ed760;
}

.form-logo {
  display: block;
  font-weight: 700;
  font-size: 30px;
  padding: 1.2em 0;
  margin-left: 10px;
  letter-spacing: -2px;
}

.link-session-logo {
  text-decoration: none;
  color: black;
}

.session-picture-logo {
  width: 59px;
  height: 59px;
  padding-top: 15px;

}
/*
.divider {
  border-top: 1px solid #d9dadc;
  line-height: 1px;
  margin: 15px 0;
  position: relative;
  max-width: 28.5em;
  text-align: center;
  margin-left: 760px;
} */

.signup-invite-container {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  align-items: center;
}

.form-invite-question {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 18px;
  font-weight: 900;
}

.sign-up-link {
  box-shadow: inset 0 0 0 2px #616467;
  background-color: transparent;
  font-size: 14px;
  border-radius: 500px;
  border-width: 0;
  text-transform: uppercase;
  font-weight: 700;
  padding: 16px 1px 18px;
  max-width: 21.875em;
  text-decoration: none;
  color: #616467;
  letter-spacing: 2px;
  width: 100%;
}

.sign-up-link:hover {
  color: #fff;
  background-color: #616467;
}

.login-invite {
  font-size: .9375em;
  letter-spacing: 0.5px;
  margin-top: 4px;
}

.log-in-link {
  text-decoration: none;
  color: #1DB954;
}

.log-in-link:hover {
  color: #1ED760;
}

.link-subtle {
  font-size: 14px;
  color: #b3b3b3;
  text-decoration: none;
  display: flex;
  padding: 5px 24px;
  cursor: pointer;
}

.link-subtle:hover {
  color: white;
  -webkit-transition:color 0.1s ease-in;
}

.navBar-expand {
  flex: .9;
}

.navBar-root {
  left: 0;
  padding-bottom: 114px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 88vh;
  z-index: 4;
  background-color: rgba(0,0,0,.8);
  overflow: auto;
  min-height: 0!important;
  will-change: transform;
  overflow-x: hidden;

}

.navBar {
  flex: 1;
  padding-top: 24px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  width: 230px;
  cursor: default;
}

.navBar-header-link {
  text-decoration: none;
}

.navBar-header-logo-text {
  color: #FFF;
  padding-top: 12px;
  font-size: 20px;
}

.navBar-item {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .015em;
  padding: 3px 0;
}

.navBar-header {
  display: flex;
  padding-bottom: 15px;
}

.navBar-header img {
  width: 60px;
  height: 60px;
  margin-left: 7px;
}

.nav-text {
  margin-left: 16px;
  flex: 1;
  min-width: 0;
}

.active-nav-link {
  color: #1db954;
}

.browse-featured-container {
  background-image: linear-gradient(rgb(60, 79, 93), rgb(6, 8, 9) 85%);
  width: 100%;
  height: 100vh;
  overflow: auto;
}


.browse-newreleases-container {
  padding-left: 230px;
  padding-bottom: 91px;
  min-height: 0 !important;
}


.session-show-container {
  background-image: linear-gradient(rgb(18, 18, 18), rgb(8, 8, 8) 85%);
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.session-info-container {
  display: flex;
  text-decoration: none;
  color: #FFF;
}

.session-info-container svg {
  border-radius: 50%;
}

.search-main-view {
  padding-bottom: 121px;
  padding-left: 230px;
  min-height: 0;
}

.session-info {
  padding-top: 8px;
  padding-left: 4px;
  margin: 0 24px;
}

.session-name {
  margin-left: 10px;
  padding-top: 5px;
  font-size: 14px;
}

.artist-music {
  overflow: hidden;
  background-color: #181818;
}

.related-artists {
  padding-top: 1.5em;
  background-color: #181818;
  width: 100%;
  height: 100vh;
}

.container-fluid {
  /* margin-right: auto;
  margin-left: auto; */
  padding-left: 8px;
  padding-right: 8px;
  /* width: 100%; */
}

.margin-auto {
  margin-right: auto;
  margin-left: auto;
}

.empty {
  margin-right: auto;
  margin-left: auto;
}

.empty-state-message-margin {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
}

.empty-state-icon {
  width: 50px;
  height: 50px;
  color: #FFF;
}

.empty-state-title {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -.005em;
  font-weight: 600;
  color: #FFF;
  text-align: center;
  margin-bottom: 36px;
}

.white-button {
  margin-top: 36px;
  background: #FFF;
  color: #000;
  padding: 11px 44px;
  font-size: 11px;
  font-weight: 200;
  letter-spacing: .16em;
  transition: none 33ms cubic-bezier(.3,0,.7,1);
  transition-property: all;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  border: 0;
  border-radius: 500px;
  /* min-width: 130px; */
  white-space: normal;
  will-change: transform;
  line-height: 1.6;
  vertical-align: middle;
  user-select: none;
}

.white-button:hover {
  transform: scale(1.06);
}

.display-none {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: .35;
}

.empty-state-subtitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: 200;
  color: #b3b3b3;
}

.empty-state-icon-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 50px;
  height: 50px;
  fill: #FFF;
  display: inline-block;
}

.empty-state-message {
  text-align: center;
  max-width: 626px;
  margin-bottom: 1em;
}

.container-fluid::before {
  content: " ";
  display: table;
}

.text-center {
  text-align: center;
}

.row {
  margin-left: -16px;
  margin-right: -16px;
}

.row::before {
  content: " ";
  display: table;
}

.album-index {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.logout-button {
  background-color: rgba(24,24,24,.7);
  min-width: 240px;
  padding: 7px 22px;
  color: #FFF;
  opacity: .6;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .16em;
  margin-top: 16px;
  border-radius: 500px;
  line-height: 1.6;
  border: 1px solid #dfe0e6;
  cursor: pointer;
}

.logout-button:hover {
  opacity: 1;
  transform: scale(1.06);
}


.session-show-lists {
  text-align: center;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 230px;
}

.session-show-icon {
  color: #b3b3b3;
}

.session-show-icon svg {
  border-radius: 50%;
}

.session-show-username {
  color: #FFF;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -.005em;
  margin: 24px 0;
  font-weight: 600;
}

.browse-nav-header-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.active-feature-nav-header-container {
  width: 100%;
  padding: 20px 0;
}

.selected {
  color: #1ed760;
}

.active-feature-nav-header-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.active-feature-nav-header-list li {
  padding: 7px 30px;
}

.create-playlist-container {
  flex-shrink: 0;
}

.collection-header-container {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.create-playlist-button {
  margin-top: 0;
  padding: 7px 22px;
  background-color: #1db954;
  font-size: 11px;
  letter-spacing: .16em;
  transition: none 33ms cubic-bezier(.3,0,.7,1);
  transition-property: all;
  color: #FFF;
  line-height: 1.6;
  border: 0;
  border-radius: 500px;
  cursor: pointer;
}

.create-playlist-button:hover {
  transition: none 33ms cubic-bezier(.3,0,.7,1);
  transition-property: all;
  transform: scale(1.06);
  background-color: #1ed760;
}

.feature-nav-header-link {
  color: #b3b3b3;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: .16em;
  text-decoration: none;
}

.feature-nav-header-link:hover {
  color: #FFF;
  -webkit-transition:color 0.1s ease-in;
}

.nav-link-spacing {
  font-size: 12px;
  /* line-height: 16px; */
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .16em;
  color: #b3b3b3;
  position: relative;
  border: 0;
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  transition: opacity .2s linear;
}

.artist-nav-active {
  opacity: 1;
}

.active {
  color: white;
  /* border-bottom: 2px solid #1db954;
  padding-bottom: 5px; */
}

.active::after {
  content: "";
  display:block;
  margin: 0 auto;
  width: 30px;
  padding-top: 4px;
  border-bottom: 2px solid #1db954;
}

.browse-featured-content-container {
  padding: 0 32px;
  margin: 0 8em;
  max-width: 1480px;
}

.browse-featured-content-spacing {
  padding: 0 13em;
  max-width: 1480px;
}
.new-releases-content-spacing {
  padding: 0 32px;
  max-width: 1480px;
  margin: 0 auto;
}

.cover-art-with-auto-height {
  padding-top: 100%;
}

.icon {
  position: absolute;
  top: 35%;
  bottom: 35%;
  left: 35%;
  right: 35%;
}

.icon svg {
  color: #b3b3b3;
}

.default-cover-padding {
  margin: 0 auto;
  padding-bottom: 15px;
  max-width: 320px;
  position: relative;
}

.cover-art-size {
  margin: 0;
  display: block;
  border: 0;
  outline: 0;
  position: relative;
  background-color: #282828;
}

.cover-art {
  width: auto;
  height: auto;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.browse-featured-content-wrapper {
  /* width: 1175px; */
}

.browse-featured-playlist-lists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.playlist-top-margin {
  margin-top: 15px;
}

.browse-featured-playlist-lists img {
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  height: 100%;
  width: 100%;
}

.browse-featured-playlist {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5em;
}

.browse-featured-playlist img {
  transition: none 50ms cubic-bezier(.3,0,.7,1);
  transition-property: filter;
}


.browse-featured-playlist img:hover {
  filter: brightness(50%);
}

.dropdown-playlists-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.dropdown-playlist {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5em;
  padding: 1em;
  cursor: pointer;
}

.dropdown-playlist img {
  height: 200px;
  width: 200px;
}

.mo-info {
  margin: 12px 0 4px;
  text-align: center;
}

.cover-art-text {
  text-decoration: none;
  color: #FFF;
  letter-spacing: .015em;
  font-size: 14px;
}

.browse-featured-header {
  padding-bottom: -3px;
  margin: 20px 0;
}

.browse-featured-header-new-releases {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -.005em;
  color: #FFF;
}

.header-margin {
  margin: 24px 0;
}

.album-cover-padding {
  height: 3.9em;
  width: 3.9em;
  margin-right: 1em;
}

.album-cover-padding img {
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  height: 100%;
  width: 100%;
}

.copyrights {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .015em;
  color: #fff;
  opacity: .6;
  clear: both;
  padding: 0 5%;
  width: 100%;
}

.playlist-show-main-content {
  padding-left: 230px;
  padding-bottom: 121px;
}

.playlist-content-spacing {
  padding: 0 32px;
  margin: 0 auto;
  max-width: 1480px;
}

.content-playlist {
  padding-top: 2em;
}

.cover-art-show {
  /* width: 25%; */
  text-align: center;
}

.track-list-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-list-img-title {
  margin: 0 auto;
  max-width: 320px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.playlist-cover-img {
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.playlist-title-wrapper {
  margin: 5px 0 4px;
  text-align: center;
}

.playlist-author-link {
  opacity: .6;
}

.playlist-author-link:hover {
  opacity: 1;
  border-bottom: 1px solid #FFF;
}

.playlist-title {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -.005em;
  font-weight: 600;
  color: rgb(244, 155, 35);
  width: 275px;
}

.spotify-small-text {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  text-transform: capitalize;
  width: 275px;
  text-align: center;
}

.spotify-small-text span {
  color: white;
  opacity: .6;
  font-weight: lighter;
}

.track-list-header-play-button-top {
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

.track-list-header-play-button {
  padding: 11px 48px;
  background-color: #1db954;
  margin-top: 16px;
  font-size: 11px;
  letter-spacing: .16em;
  transition: none 33ms cubic-bezier(.3,0,.7,1);
  color: #FFF;
  margin-bottom: 0;
  border: 0;
  border-radius: 500px;
  line-height: 1.6;
  transition: none 33ms cubic-bezier(.3,0,0,1);
  transition-duration: 50ms;
  transition-property: background-color;
}

.track-list-header-play-button:hover {
  background-color: #1ed760;
  transform: scale(1.06);
}

.track-list-header-body {
  text-align: center;
  width: 100%;
  font-weight: lighter;
}

.track-list-count {
  margin-bottom: .8em;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  color: #b3b3b3;
  letter-spacing: .16em;
  /* opacity: .6; */
}

.track-list-header-body-extra-buttons {
  display: flex;
  justify-content: center;
}

.track-list-header-body-heart-buttons-body {
  min-width: 52px;
  margin-top: 30px;
  transition-duration: 66ms;
  transition-property: all;
}

.track-list-header-body-three-dots-buttons-body {
  min-width: 52px;
  margin-top: 30px;
  transition-duration: 66ms;
  transition-property: all;
}


.track-list-header-body-heart-buttons-body:hover {
  transform: scale(1.06);
}

.track-list-header-body-three-dots-buttons-body:hover {
  transform: scale(1.06);
}

.track-list-header-body-dots-icon {
  height: 35px;
  width: 35px;
}

.artist-show-heart-button {
  margin-right: 10px;
  transition-duration: 50ms;
  transition: none 33ms cubic-bezier(.3,0,.7,1);
  transition-property: all;
  /* margin-top: 16px; */
  margin-bottom: 0;
  text-align: center;
  border: 0;
  border-radius: 500px;
  padding: 13px;
  vertical-align: middle;

}

.btn-margin-right {
  margin-right: 15px;
}

.artist-show-heart-button:hover {
  transform: scale(1.06);
}


.track-list-header-body-heart-icon {
  height: 30px;
  width: 30px;
}

.track-list-header, .playlist-song-lists {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
}


.track-list {
  margin-bottom: 1.5em;
}

.track-list-row {
  display: flex;
  padding-bottom: 1em;
  transition-timing-function: linear;
  transition-duration: .2s;
  transition-property: background-color;
}

.track-list-row:hover {
  background-color: rgba(0,0,0,.3);
}

.fewer-padding {
  padding: .2em 0;
}

.artist-albums {
  padding-top: 0;
  overflow: hidden;
  background-color: #181818;
}

.artist-albums::after {
  content: "";
  display: block;
  clear: both;
}

.track-list-column {
  flex: 1;
  display: flex;
  align-items: center;
}

.track-list-column-margin {
  margin-left: .2em;
  margin-top: .5em;
}

.track-list-name {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .015em;
  color: #FFF;
  font-weight: lighter;
}

.track-list-name-neon {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .015em;
  color: #1ed760;
  font-weight: lighter;
}

.music-note-icon-padding {
  padding-right: .35em;
  padding-top: .4em;
  padding-left: .65em;
  display: flex;
  align-items: center;
}

.music-note-icon-center {
  text-align: right;
}

.music-note-icon {
  height: 25px;
  width: 25px;
}

.explicit-label {
  margin-right: .67em;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0;
  text-transform: uppercase;
  background-color: hsla(0,0%,100%,.6);
  color: black;
  border-radius: 2px;
  padding: 0 .4em;
  font-weight: lighter;
}

.track-list-link {
  text-decoration: none;
  color: #FFF;
  opacity: .6;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: lighter;
}

.track-list-row-dot {
  color: #FFF;
  opacity: .6;
  font-size: .8em;
  padding: 0 8px;
}

.track-list-row-body-dots-icon {
  height: 24px;
  width: 24px;
}

.track-list-more {
  padding-right: 1em;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.track-list-more:hover {

  /* background-color: yellow; */
}

.track-list-more-button {
  cursor:pointer;
}

.track-list-more-button:hover {
  transform: scale(1.06);
}

.track-list-more-margin-top {
  margin-top: .7em;
}

.track-list-duration {
  padding-right: 1em;
  text-align: center;
}

.track-list-duration-margin-top {
  margin-top: .7em;
  color: #FFF;
  opacity: .6;
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: .1em;
}

.track-list-duration-margin-top-neon {
  margin-top: .7em;
  color: #1ed760;
  opacity: .6;
  font-weight: lighter;
  font-size: 14px;
  letter-spacing: .1em;
}

/*--------------TO BE CONTINUED-------------- */

.player-controls {
  background-color: #181818;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 5;
}

.play-bar-container {
  min-width: 620px;
  background-color: #282828;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: column;
  height: auto;
}

.play-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 16px;
}

.play-bar-left {
  width: 30%;
  min-width: 180px;
}

.current-song-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.current-song-album-cover img {
  height: 55px;
  width: 55px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.current-song-title {
  display: flex;
  margin: 0 14px;
  flex-direction: column;
  align-items: left;
}

.current-song-title-top-line a{
  text-decoration: none;
  color: #FFF;
  font-weight: lighter;
  line-height: 20px;
  letter-spacing: .015em;
  font-size: 12px;
  cursor: pointer;
}

.current-song-title-top-line a:hover {
  border-bottom: 1px solid #FFF;
}

.current-song-title-bottom-line a {
  text-decoration: none;
  color: #FFF;
  opacity: .6;
  font-weight: lighter;
  line-height: 20px;
  letter-spacing: .015em;
  font-size: 12px;
  cursor: pointer;
}

.current-song-title-bottom-line a:hover {
  border-bottom: 1px solid #FFF;
  opacity: 1;
}

.current-song-heart-icon img {
  height: 23px;
  width: 23px;
}

.current-song-heart-icon img:hover {
  transform: scale(1.06);
}

.current-song-heart-icon {
  padding: 10px;
}

.play-bar-center {
  width: 40%;
  max-width: 722px;
  margin-bottom: 10px;
}

.player-controls-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-controls-buttons {
  /* margin-bottom: 6px; */
  width: 224px;
  justify-content: space-between;
  flex-flow: row nowrap;
  display: flex;
  /* justify-content: center; */
}

.player-controls-play-button img{
  height: 50px;
  width: 50px;
}

.player-controls-play-button img:hover{
  transform: scale(1.06);
}

.player-controls-previous-next-button img{
  height: 16px;
  width: 16px;
}

.player-controls-shuffle-button img {
  height: 26px;
  width: 26px;
}

.player-controls-repeat-button img {
  height: 22px;
  width: 22px;
}

.player-controls-playbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.player-controls-playbar-progress-time {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .03em;
  min-width: 40px;
  text-align: center;
  color: #b3b3b3;
  font-weight: lighter;
}

.progress-bar {
  height: 12px;
  width: 100%;
  display: flex;
  align-items: center;
}

.middle-align {
  /* position: absolute; */
  top: 50%;
  /* transform: translateY(-50%); */
  background-color: #404040;
  border-radius: 2px;
  display: flex;
  height: 4px;
  width: 100%;
  align-items: center;
}

.play-bar-progress-status {
  width: 0%;
  transition-duration: 10ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(1,0,.7,1);
  background-color: #b3b3b3;
  border-radius: 2px;
  height: 4px;
}

.play-bar-progress-status-green {
  /* width: 5.2343%; */
  transition-duration: 10ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(1,0,.7,1);
  background-color: #1db954;
  border-radius: 2px;
  height: 4px;
}

.play-bar-progress-slider {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #FFF;
  transition-timing-function: cubic-bezier(1,0,.7,1);
  transition-duration: 10ms;
  transform: translateX(-50%);
}

.play-controls-playbar-duration {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: .03em;
  min-width: 40px;
  text-align: center;
  color: #b3b3b3;
  font-weight: lighter;
}

.play-bar-right {
  width: 30%;
  min-width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.extra-controls {
  width: 180px;
  display: flex;
  justify-content: flex-end;
}

.queue-button {
  padding: 0 5px;
}

.queue-button img {
  height: 26px;
  width: 26px;
}

.volume-bar {
  width: 136px;
  display: flex;
  align-items: center;
}

.volume-button {
  padding: 0 5px;
}

.volume-button img {
  height: 24px;
  width: 24px;
}

.volume-progress-bar-container {
  height: 12px;
  width: 100%;

}

.volume-progress-bar-background {
  top: 50%;
  transform: translateY(60%);
  background-color: #404040;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  display: flex;
}

.volume-progress-bar {
  width: 70.434%;
  background-color: #b3b3b3;
  border-radius: 2px;
  height: 4px;
  transition-duration: .1s;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(1,0,.7,1);
}

.volume-progress-bar-green {
  width: 70.434%;
  background-color: #1db954;
  border-radius: 2px;
  height: 4px;
  transition-duration: .1s;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(1,0,.7,1);
}

.volume-bar-slider {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #FFF;
  transition-timing-function: cubic-bezier(1,0,.7,1);
  transition-duration: 10ms;
  transform: translate(-50%, -30%);
}

.album-show-root {
  min-height: 100vh;
}

.album-show-container {
  background-image: linear-gradient(rgb(91, 62, 69), rgb(9, 6, 7) 85%);
  width: 100%;
  background-size: cover;
  height: 100vh;
  overflow: auto;
}

.playlist-show-container {
  background-image: linear-gradient(rgb(104, 57, 49), rgb(10, 6, 5) 85%);
  width: 100%;
  background-size: cover;
  height: 100vh;
  overflow: auto;
}

.album-title {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -.005em;
  font-weight: 600;
  color: #FFF;
}

.playlist-form-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.9);
  z-index: 13;
  overflow-y: scroll;
}

.playlist-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.playlist-form-close-button {
  /* width: 32px; */
  background-color: rgba(0,0,0,0);
  padding: 13px;
  margin-top: 16px;
}

.root-top-container {
  min-height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.playlist-form-close-button:hover {
  transform: scale(1.06);
}

.playlist-form-close-button img{
  height: 32px;
  width: 32px;

}

.playlist-form-header {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -.005em;
  font-weight: 700;
  color: #FFF;
  margin: 24px 0;
}

.input-box-container {
  width: 100%;
  padding: 0 20%;
  background-color: #282828;
}

.input-box {
  position: relative;
  background-color: #282828;
  padding: 32px 0;
}

.input-box-content-spacing {
  padding: 0 32px;
  margin: 0 auto;
  max-width: 1480px;
}

.artist-toptracks {
  margin: 0 auto;
  float: none;
}

.input-box-label {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: 700;
  color: #fff;
  margin-bottom: .5em;
}

.input-box-input {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -.005em;
  font-weight: 700;
  color: #FFF;
  caret-color: #1db954;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: none;
}

.input-box-input::placeholder {
  color: #b3b3b3;
  opacity: .3;
}

.input-box-file {
  cursor: pointer;
}


.input-box-button {
  display: flex;
  justify-content: center;
  padding: 28px 0;
}

.input-box-button-item {
  padding: 0 10px;
}

.input-btn {
  font-size: 11px;
  letter-spacing: .16em;
  transition: none 33ms cubic-bezier(.3,0,.7,1);
  transition-property: all;
  margin-top: 16px;
  margin-bottom: 0;
  text-align: center;
  border: 0;
  border-radius: 500px;
  min-width: 130px;
  line-height: 1.6;
}

.input-box-button-black {
  padding: 11px 44px;
  background: rgba(24,24,24,.7);
  color: #FFF;
  box-shadow: inset 0 0 0 2px #b3b3b3;
}

.input-box-button-black:hover {
  transform: scale(1.06);
}

.input-box-button-green {
  background-color: #1db954;
  padding: 11px 44px;
  color: #FFF;
}

.input-box-button-green:hover {
  background-color: #1ed760;
  transform: scale(1.06);
}

.search {
  position: relative;
}

.svg-cover-art {
  width: 100%;
  height: 100%;
}

.cover-size-fixed {
  width: 199px;
}

.search-input-box {
  right: 0;
  left: 230px;
  position: fixed;
  background-color: #282828;
  padding: 16px;
  top: 0;
  z-index: 10;
}

.track-list-header-wrapper {
  margin: 0 auto 1.5em;
  text-align: center;
  width: 100%;
}

.search-content-spacing {
  padding: 0 32px;
  margin: 0 auto;
  max-width: 1480px;
}

.search-content {
  position: relative;
  padding-top: 88px;
  z-index: 1;
}

.search-input-box-input {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: .005em;
  font-weight: 600;
  color: #FFF;
  caret-color: #1db954;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: none;
}

.search-input-box-input::placeholder {
  color: #b3b3b3;
  opacity: .3;
}

.searched-songs-lists {
  padding: 11em 10em 13em 23em;
}

.dropdown-menu {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  background-clip: padding-box;
  background-color: #181818;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  outline: none;
  z-index: 1000;
}

.dropdown-menu-item {
  /* position: fixed; */
  opacity: 1;
  pointer-events: auto;
  /* top: 114px; */
  /* left: 1676px; */
  width: 100%;
  padding: 3px 20px;
  clear: both;
  line-height: 32px;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  user-select: none;
  cursor: default;
  font-size: 14px;
  line-height: 20px;
  font-weight: 200;
  letter-spacing: .015em;
  color: #b3b3b3;
}

.dropdown-menu-item:hover {
  color: #FFF;
  background-color: #333;
  border-color: #333;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }

  .row-simplified h1{
    font-size: 64px;
  }

  .cover-container {
    float: left;
    width: 30%;
  }
}

@media screen and (min-width: 992px) {
  .navbar-semi-transparent {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .navbar {
    min-height: 80px;
    margin-bottom: 0;
  }

  .cover-container {
    width: 22%;
    float: left;
  }

  .container {
    width: 970px;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    border-top: 0;
  }

  .navbar-nav .navbar-right:last-child {
    margin-right: -17px;
  }

  .navbar-right {
    float: right !important;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav > li > a{
    padding: 28px 17px;
  }

  .navbar-nav > .divider {
    margin-top: 32px;
    margin-bottom: 32px;
    height: 16px;
    width: 1px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .navbar-header {
    float: left;
  }

  .title-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 6px;
    width: 150px;
    height: 40px;
    background-size: 132px 40px;
    font-size: 18px;
    transform: translateY(30%);
  }

  .picture-logo {
    width: 40px;
    height: 40px;
    transform: translateY(50%);
  }

  .navbar-toggle {
    display: none;
  }

  .close-button {
    display: none;
  }

  .container-simplified {
    padding-top: 0;
    padding-bottom: 0;
  }

  .row-simplified h1{
    font-size: 80px;
  }

}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .cover-container {
    width: 15%;
    float: left;
  }

  .track-list-header {
    width: 24%;
    float: left;
  }

  .playlist-song-lists {
    width: 72%;
    float: left;
  }
}

@media screen and (min-width: 1500px) {
  .cover-container {
    width: 15%;
    float: left;
  }
  .track-list-header {
    width: 33.33333333%;
  }
  .playlist-song-lists {
    width: 63.66666667%;
  }
}

@media screen and (max-width: 1200px) {
  .browse-nav-header-container {
    padding-bottom: 12px;
  }

  .track-list-header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 20px;
    max-width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
  }

  .track-list-img-title {
    width: 30%;
    min-width: 157px;
    position: relative;
  }

  .playlist-cover-img {
    height: 30%;
    width: 30%;
    min-width: 157px;
    position: relative;
  }

  .wrapper {
    height: 10%;
    width: 10%;
    min-width: 157px;
    position: relative;
  }

  .playlist-title-wrapper, .spotify-small-text, .track-list-header-play-button-top, .track-list-header-body {
    display: none;
  }

  .album-info-smaller {
    text-align: initial;
    width: 70%;
    margin: 0 40px;
  }

  .album-title-author-smaller {
    padding-bottom: 10px;
  }

  .album-title-smaller {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -.005em;
    font-weight: 700;
    color: #FFF;
  }

  .album-by {
    color: #fff;
    opacity: .6;
    margin-right: 5px;
    font-size: 12px;
  }

  .album-year-count-smaller {
    margin-bottom: .8em;
    font-size: 11px;
    line-height: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: .16em;
    color: #FFF;
    opacity: .6;
  }

  .track-list-img-title {
    display: none;
  }

  .track-list-buttons-smaller {
    display: flex;
    flex-direction: row;
  }

  .track-list-extra-buttons-smaller {
    margin: 0 13px;
    display: flex;
    align-items: flex-end;
  }

  .track-list-header-body-heart-buttons-body, .track-list-header-body-three-dots-buttons-body {
    margin-top: 0;
  }

}


@media screen and (max-width: 1199px) {
  .default-cover-padding {
    width: 30%;
    min-width: 157px;
    position: relative;
  }

  .bigger {
    display: none;
  }
}


@media screen and (max-width: 991px) {
  .navbar-default {
    background-color: #000;
  }

  .navbar {
    min-height: 54px;
  }

  .title-logo {
    width: 100px;
    height: 27px;
    margin-left: 6px;
    font-size: 12px;
    transform: translateY(70%);
  }

  .picture-logo {
    width: 27px;
    height: 27px;
    transform: translateY(45%);
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-sidepanel {
    display: block;
    width: 50%;
    /* transform: translate(0, 0); */
    background-color: #000;
    border-width: 0;
    height: 100%;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 38px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
  }

  .navbar-sidepanel > div {
    margin-top: 10px;
  }

  .navbar-sidepanel img {
    height: 17px;
    width: 17px;
    float: right;
    cursor: pointer;
  }

  .close-button {
    padding: 10px;
  }

  .sidepanel-backdrop {
    background: rgba(0, 0, 0, 0.75);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    animation-name: fade-in;
    animation-duration: 430ms;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-delay: 0s;
  }

  .sidepanel-bold {
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 25px;
  }

  .sidepanel-divider {
    width: 20px;
    height: 2px;
    background-color: #FFF;
    margin: 18px 0 46px;
  }

  .sidepanel-normal {
    line-height: 1;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 25px;
    animation-delay: 68ms;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 400;
  }

  .open {
    width: 50%;
    transform: translate(0, 0);
    transition: all 0.3s linear;
  }

  .close {
    transform: translateX(100%);
    transition: all 0.3s linear;
  }
}

@media screen and (min-width: 721px) {
  .session-info {
    border-top: 1px solid #404040;
  }
}

@media screen and (min-width: 780px) {
  /* .navBar-header img {
    margin-right: 7px;
  } */
}




@media screen and (max-width: 780px) {

  .navBar {
    width: 80px;
  }

  .navBar-header-logo-text {
    display: none;
  }

  .navBar-header img {
    height: 32px;
    width: 32px;
  }

  .nav-text {
    display: none;
  }

  .session-name {
    display: none;
  }

  .navBar-item {
    display: flex;
    justify-content: center;
  }

  .browse-newreleases-container {
    padding-left: 80px;
  }

  .playlist-show-main-content {
    padding-left: 80px;
  }

  .navbar-group-header {
    display: none;
  }

  .navbar-item-small {
    display: none;
  }

  .navBar-header {
    justify-content: center;
  }

  .navBar-header img {
    margin-left: 0px;
  }

  .search-input-box {
    left: 80px;
  }

  .search-main-view {
    padding-left: 80px;
  }

}
